<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>vātāyana: about</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

                <!-- entire top navbar -->
                <div class="row">

                    <!-- skrutable brand/reset button and conditionally visibile action title -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" style="background-color: #000;" href="./">vātāyana</a>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-8">
                                <div class="navbar-header" id="hiddenSubtitle" style="visibility: hidden">
                                    <a class="navbar-brand">: {{ page_subtitle }}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- about, tutorial, and conditionally visibile example links -->
                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand float-right" href="./about">about</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="./tutorial">tutorial</a>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-4">
                                <div class="navbar-header" id="hiddenExample" style="visibility: hidden">
                                    <a class="navbar-brand" href="./ex1">(example)</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->

        </nav>

        <div class="container">

            <h1>vātāyana</h1>
            <br>
            <p><i>a window onto the Sanskrit pramāṇa-NLP corpus</i></p>

            <p><b>Vātāyana</b> (meaning “window” in Sanskrit) is a tool for exploring intertextuality relations within a corpus. It was developed in the context of studying a corpus of Sanskrit philosophical texts, but it is nearly completely language-independent and should be able to accomodate any tokenized (natural language) corpus on which topic modeling can be performed.</p>

            <p>I'm writing it up for my PhD dissertation and will post the relevant document here soon...</p>

            <br><br>

            <h2>Feedback</h2>
            <br>
            <p>
                <ul>
                    <li>Did you find a bug 🐞 and see <b>Vātāyana</b> break?</li>
                    <li>Or do you have any other comments or suggestions?</li>
                </ul>
            </p>
            <p>I'd love to hear from you.
            Message me on GitHub or email me (Gmail) at tyler.g.neill.</p>

            <br><br>

            <h2>Sister Site</h2>
            <br>
            <p><a href="https://skrutable.pythonanywhere.com/">skrutable</a></p>

            <br><br>

            <h2>Technical</h2>
            <br>
            <p>documentation on GitHub
                <ul>
                    <li><a href="https://github.com/tylergneill/vatayana">vātāyana</a> (intertextuality research environment)</li>
                    <li><a href="https://github.com/tylergneill/pramana-nlp">pramāṇa-nlp</a> (philosophical Sanskrit corpus + preliminary LDA analyis)</li>
                    <li><a href="https://github.com/tylergneill/skrutable">skrutable</a> (text-processing toolkit used in corpus-building)</li>
                </ul>
            </p>

        </div><!-- /.container -->

    </body>

</html>
