<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>

        <title>vātāyana: docExplore</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

				<!-- entire top navbar -->
				<div class="row">

					<!-- skrutable brand/reset button and conditionally visibile action title -->
	                <div class="col-md-4">

						<div class="row">

							<div class="col-md-4 col-xs-4">
			                    <div class="navbar-header">
			                        <a class="navbar-brand" style="background-color: #000;" href="./">vātāyana</a>
		                    	</div>
							</div>

							<div class="col-md-8 col-xs-8">
			                    <div class="navbar-header">
			                        <a class="navbar-brand">: {{ page_subtitle }}</a>
			                    </div>
							</div>

						</div>

					</div>

					<!-- about, tutorial, and conditionally visibile example links -->
					<div class="col-md-4">

						<div class="row">

							<div class="col-md-4 col-xs-4">
								<div class="navbar-header">
		                    		<a class="navbar-brand float-right" href="./about">about</a>
								</div>
		                	</div>

			                <div class="col-md-4 col-xs-4">
		                        <div class="navbar-header">
		                        	<a class="navbar-brand" href="./tutorial">tutorial</a>
		                        </div>
			                </div>

							<div class="col-md-4 col-xs-4">
								<div class="navbar-header" id="hiddenExample" style="visibility: hidden">
									<a class="navbar-brand" href="./ex1">(example)</a>
								</div>
							</div>

						</div>

					</div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">


        	<h1>Explore Docs</h1>
        	<br>
        	
			<form id="doc_explore_search_bar" action="/docExplore" method="POST">

				<!-- input -->
			    <div class="row">
			    	<div class="col-md-2">
<!--			            <input id="doc_id" name="doc_id" type="text" class="form-control" placeholder="Enter doc id" size="30"/>-->
						<select name="text_abbreviation_input" id="text_abbreviation_input" class="form-control">
							<option value="" size="15" selected="selected">Select text</option>
						</select>
			        </div>
					<div class="col-md-3">
						<select name="local_doc_id_input" id="local_doc_id_input" class="form-control">
							<option value="" size="15" selected="selected">Select query doc id</option>
						</select>
			        </div>
			        <div class="col-md-1">
			            <input id="doc_explore_submit_button" type="submit" class="btn btn-block btn-primary" value="Submit"/>
			        </div>
			    </div>
				<br>
				<div class="row">
			    	<div class="col-md-2">
			        </div>
					<div class="col-md-3">
						<select name="local_doc_id_input_2" id="local_doc_id_input_2" class="form-control">
							<option value="" size="15" selected="selected">Subsequent doc id (batch mode)</option>
						</select>
			        </div>
					<div class="col-md-1">
			        </div>
			    </div>
				<br>
				<div class="row" id="sw_threshold_slider_row" style='display: none;'>
					<div class="col-md-2">
			        </div>
					<div class="col-md-3" class="range">
						<input type="range" class="form-range" name="sw_threshold" id="sw_threshold" min="20" max="200" step="10" value="50"/>
			        </div>
					<div class="col-md-1">
						<p id="sw_threshold_slider_label">sw score > 50</p>
			        </div>
				</div>

			</form>

            {{ docExploreInner_HTML | safe }}

        </div><!-- container -->

    <script>
		$(document).ready( function () {

	    	$('#priority_col_table').DataTable( {"pageLength": 25} );
	    	$('#secondary_col_table').DataTable( {"pageLength": 25} );
	    	$('#batch_result_table').DataTable( {"pageLength": 25} );

		} );
	</script>

    </body>

	<script type="text/javascript">
    	var abbrv2docs = {{ abbrv2docs|tojson|safe }};
    	var abbrev2title = {{ text_abbrev2title|tojson|safe }};
    	var section_labels = {{ section_labels|tojson|safe }};

		var textAbbrevSel = document.getElementById("text_abbreviation_input");
		var docIdSel = document.getElementById("local_doc_id_input");
		var docIdSel_2 = document.getElementById("local_doc_id_input_2");

		textAbbrevSel.length = 1;
		for (var x in abbrv2docs) {
			textAbbrevSel.options[textAbbrevSel.options.length] = new Option(x + ' ' + abbrev2title[x], x);
		}
		textAbbrevSel.onchange = function() {
			docIdSel.length = 1;
			docIdSel_2.length = 1;
			for (var y of abbrv2docs[this.value]) {
			  docIdSel.options[docIdSel.options.length] = new Option(y + ' ' + section_labels[this.value + '_' + y], y);
			  <!-- eventually want this to contract based on docIdSel -->
			  docIdSel_2.options[docIdSel_2.options.length] = new Option(y + ' ' + section_labels[this.value + '_' + y], y);
			}
		}

		docIdSel_2.onchange = function() {
			var sw_threshold_slider_row = document.getElementById("sw_threshold_slider_row");
	  		sw_threshold_slider_row.style.display = "block";
	  	}

	  	sw_threshold.onchange = function() {
	  		var sw_threshold_slider_label = document.getElementById("sw_threshold_slider_label");
	  		sw_threshold_slider_label.innerHTML = `sw score > ` + sw_threshold.value;
	  	}

    </script>

</html>