<form method="post" action="searchDepth">

	$slider_HTML

	</br>

	<!-- save changes button -->
	<div class="row">
		<div class="col-md-3">
			<input id="search_depth_submit_button" type="submit" class="btn btn-block btn-primary" value="Save Changes"/>
		</div>
	</div>

</form>

</br>

<form method="post" id="search_depth_reset" action="searchDepth">

	<h3>Reset to Default Values</h3>
	<p>$search_N_defaults</p>
	<div class="row">
		<div class="col-md-3">
			<input type="hidden" name="search_depth_use_defaults" id="search_depth_use_defaults"/>
			<input id="search_depth_reset_submit_button" type="submit" class="btn btn-block btn-primary" value="Reset Search Depths"/>
		</div>
	</div>

</form>

</br>

$JS_preamble

$slider_JS