<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>vātāyana: {{ page_subtitle }}</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

				<!-- entire top navbar -->
				<div class="row">

					<!-- skrutable brand/reset button and conditionally visibile action title -->
	                <div class="col-md-4">

						<div class="row">

							<div class="col-md-4 col-xs-4">
			                    <div class="navbar-header">
			                        <a class="navbar-brand" style="background-color: #000;" href="./">vātāyana</a>
		                    	</div>
							</div>

							<div class="col-md-8 col-xs-8">
			                    <div class="navbar-header" id="hiddenActionTitle">
			                        <a class="navbar-brand">: {{ page_subtitle }}</a>
			                    </div>
							</div>

						</div>

					</div>

					<!-- about, tutorial, and conditionally visibile example links -->
					<div class="col-md-4">

						<div class="row">

							<div class="col-md-4 col-xs-4">
								<div class="navbar-header">
		                    		<a class="navbar-brand float-right" href="./about">about</a>
								</div>
		                	</div>

			                <div class="col-md-4 col-xs-4">
		                        <div class="navbar-header">
		                        	<a class="navbar-brand" href="./tutorial">tutorial</a>
		                        </div>
			                </div>

							<div class="col-md-4 col-xs-4">
								<div class="navbar-header" id="hiddenExample" style="visibility: hidden">
									<a class="navbar-brand" href="./ex1">(example)</a>
								</div>
							</div>

						</div>

					</div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">

           <h1>Search Settings</h1>
           <br>

           <p>
           	Here you can modify the depth of the search for related passages.
           	There are two depth levels to choose from.
           	You can also change the parameters of each depth level,
           	in that you can change the number of TF-IDF comparisons and, in turn,
           	the number of Smith-Waterman comparisons that will be performed.
           </p>
           <p>
           	The deeper the search, the longer the loading time for results.
           	Loading time is estimated here for a docExplore query.
           	For docCompare, which involves two docExplore queries, multiply the estimate by 2.
           </p>

           </br>

           {{ searchSettingsInner_HTML | safe }}

        </div><!-- container -->

    </body>

</html>
