<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>vātāyana: {{ page_subtitle }}</title>

    </head>

    <body>

        {% include "navbar.html" %}

        <div class="container">

			<h1>Search Depth</h1>

			</br>

			<p>
				Modify the depth of the document similarity search.
				Deeper search takes longer but may occasionally produce better results.
			</p>

			</br>

			{{ searchDepthInner_HTML | safe }}

			<h3>More info</h3>

			<p>
				The system compares documents using fast topic modeling,
				slower TF-IDF, and slowest Smith-Waterman methods.
				Limits control how many comparisons occur in the latter two steps,
				balancing speed and quality.
			</p>
			<p>
				Top similarity scores from TF-IDF and Smith-Waterman are saved to speed up future searches.
				By default, up to 500 TF-IDF and 25 Smith-Waterman results are stored,
				increasing over time to limits of 4000 and 200.
				Choosing values within these limits contributes to faster results later;
				higher values are processed but not saved.
			</p>
			<p>
				Time estimates apply to one docExplore query.
				docCompare takes roughly twice as long.
			</p>

        </div><!-- container -->

		<br><br>

    </body>

</html>
