<html>
    <head>

        {% include "shared_head.html" %}

        <title>vātāyana: textSelect</title>

    </head>

    <body>

        {% include "navbar.html" %}

        <div class="container">

           <h1>Select Texts</h1>
           <br>
			<p>
				The following is a roughly chronological presentation of texts in the corpus.

				Only the texts selected here will be included in similarity results in docExplore and docCompare modes.
			</p>
			<p>
				Numbers in square brackets give the document count for each text.
				As variation in document size is fairly well distributed,
				this gives a good rough idea of relative text size.
			</p>
			<p>
				Changes you make will remain valid for your personal browser session,
				i.e., until cookies and other site data are cleared.
			</p>

           {{ textSelectInner_HTML | safe }}

        </div><!-- container -->

    </body>

    <script type="text/javascript">
		Promise.all([
			fetch('/api/abbrv2docs.json').then(function(r) { return r.json(); }),
			fetch('/api/abbrev2title.json').then(function(r) { return r.json(); }),
		]).then(function(results) {
			var abbrv2docs = results[0];
			var abbrev2title = results[1];

			var textAbbrevSel = document.getElementById("select_one_text_text_input");
			textAbbrevSel.length = 1;
			for (var x in abbrv2docs) {
				textAbbrevSel.options[textAbbrevSel.options.length] = new Option(x + ' ' + abbrev2title[x], x);
			}
		});
    </script>


</html>
