<html>
    <head>

        {% include "shared_head.html" %}

        <title>vātāyana: textView</title>

    </head>

    <body>

        {% include "navbar.html" %}

        <div class="container">

			<form id="textView_input" action="/textView" method="POST">

				<!-- input -->
                <div class="row">
                	<div class="col-md-2">
	                    
	                    <!-- <input id="text_abbreviation_input" name="text_abbreviation_input" type="text" class="form-control" placeholder="Enter text abbreviation here" value="{{ text_abbreviation }}" size="30"/> -->

						<select name="text_abbreviation_input" id="text_abbreviation_input" class="form-control">
							<option value="{{ text_abbreviation }}" size="30" selected="selected">Select text</option>
						</select>

	                </div>
	                <div class="col-md-3">

	                    <!-- <input id="local_doc_id_input" name="local_doc_id_input" type="text" class="form-control" placeholder="Enter doc id here" value="{{ local_doc_id }}" size="30"/> -->

						<select name="local_doc_id_input" id="local_doc_id_input" class="form-control">
							<option value="{{ local_doc_id }}" size="30" selected="selected">Select doc id (optional)</option>
						</select>

	                </div>

	                <div class="col-md-1">
		                <input id="text_view_submit_button" type="submit" class="btn btn-block btn-primary" value="Submit"/>
		            </div>
                </div>

			</form>

            <h1>{{ text_title }}</h1>

			{{ text_HTML | safe }}

        </div><!-- container -->


    </body>

    <script type="text/javascript">
		var textAbbrevSel = document.getElementById("text_abbreviation_input");
		var docIdSel = document.getElementById("local_doc_id_input");

		Promise.all([
			fetch('/api/abbrv2docs.json').then(function(r) { return r.json(); }),
			fetch('/api/abbrev2title.json').then(function(r) { return r.json(); }),
			fetch('/api/section_labels.json').then(function(r) { return r.json(); }),
		]).then(function(results) {
			var abbrv2docs = results[0];
			var abbrev2title = results[1];
			var section_labels = results[2];

			textAbbrevSel.length = 1;
			for (var x in abbrv2docs) {
				textAbbrevSel.options[textAbbrevSel.options.length] = new Option(x + ' ' + abbrev2title[x], x);
			}
			textAbbrevSel.onchange = function() {
				docIdSel.length = 1;
				for (var y of abbrv2docs[this.value]) {
				  docIdSel.options[docIdSel.options.length] = new Option(y + ' ' + section_labels[this.value + '_' + y], y);
				}
			}
		});
    </script>

</html>
