<html>
    <head>

        {% include "shared_head.html" %}

        <title>vātāyana: topicAdjust</title>

    </head>

    <body>

        {% include "navbar.html" %}

        <div class="container">

           <h1>Adjust Topic Labels</h1>
           <br>

           <p>The labels given for LDA topics are just one person's tentative interpretations.
			   You can edit them here to fit your own understanding.</p>

           <p>Changes you make will remain valid for your personal browser session, i.e., until cookies and other site data are cleared.</p>

           {{ topicAdjustInner_HTML | safe }}

        </div><!-- container -->

    </body>

</html>
