<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>vātāyana: topicToggle</title>

    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">

				<!-- entire top navbar -->
				<div class="row">

					<!-- skrutable brand/reset button and conditionally visibile action title -->
	                <div class="col-md-4">

						<div class="row">

							<div class="col-md-4 col-xs-4">
			                    <div class="navbar-header">
			                        <a class="navbar-brand" style="background-color: #000;" href="./">vātāyana</a>
		                    	</div>
							</div>

							<div class="col-md-8 col-xs-8">
			                    <div class="navbar-header" id="hiddenActionTitle">
			                        <a class="navbar-brand">: {{ page_subtitle }}</a>
			                    </div>
							</div>

						</div>

					</div>

					<!-- about, tutorial, and conditionally visibile example links -->
					<div class="col-md-4">

						<div class="row">

							<div class="col-md-4 col-xs-4">
								<div class="navbar-header">
		                    		<a class="navbar-brand float-right" href="./about">about</a>
								</div>
		                	</div>

			                <div class="col-md-4 col-xs-4">
		                        <div class="navbar-header">
		                        	<a class="navbar-brand" href="./tutorial">tutorial</a>
		                        </div>
			                </div>

							<div class="col-md-4 col-xs-4">
								<div class="navbar-header" id="hiddenExample" style="visibility: hidden">
									<a class="navbar-brand" href="./ex1">(example)</a>
								</div>
							</div>

						</div>

					</div>

                </div><!-- entire top navbar row -->

            </div><!-- container -->
            
        </nav>

        <div class="container">

           <h1>Toggle Use of Topics</h1>
           <br>

           <p>Preliminary comparison by LDA topics is an elegant way both to cut down on many unnecessary comparisons in the search for verbatim parallels and also to enable exploration of non-verbatim intertextuality connections. However, it can happen that document pairs with legitimate (and often small) verbatim intertextuality connections can be inappropriately excluded by this filtering step.

           For this reason, you may wish to (temporarily) suspend the filtering function of topic comparison. Caveat: If text prioritization is not done carefully, results may take a much longer time to load, i.e., instead of %15 of documents, up to %100 of documents will be compared. That is, you can think of suspending topic filtering as activating a kind of "beast mode" for the more detailed similarity comparison (i.e., TF-IDF and Smith-Waterman). Please use with care.</p>

           <p>(<i>Changes you make will remain valid for your personal browsr session, i.e., until cookies and other site data are cleared.</i>)</p>

           {{ topicToggleInner_HTML | safe }}

        </div><!-- container -->

    </body>

</html>
