<html>
    <head>

        {% include "shared_head.html" %}

        <title>vātāyana: tutorial</title>

    </head>

    <body>

        {% include "navbar.html" %}

        <div class="container">

            <h1>Tutorial</h1>
            <br>

            <video width="960" height="540" controls poster="/assets/videos/demo-poster.png">
                <source src="/assets/videos/demo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

        </div><!-- /.container -->

    </body>

</html>
